
.DS_Store
examples/.DS_Store
examples/JUCEExample/.DS_Store
examples/JUCEExample/Builds/MacOSX/build/Debug/DSPTools.app/Contents/Info.plist
examples/JUCEExample/Builds/MacOSX/build/Debug/DSPTools.app/Contents/MacOS/DSPTools
examples/JUCEExample/Builds/MacOSX/build/Debug/DSPTools.app/Contents/PkgInfo
examples/JUCEExample/Builds/MacOSX/build/Debug/DSPTools.app/Contents/Resources/RecentFilesMenuTemplate.nib
examples/JUCEExample/Builds/MacOSX/build/Debug/DSPTools.component
examples/JUCEExample/Builds/MacOSX/build/Debug/DSPTools.vst3
examples/JUCEExample/Builds/MacOSX/build/Debug/libDSPTools.a
examples/JUCEExample/Builds/MacOSX/DSPTools.xcodeproj/project.pbxproj
examples/JUCEExample/Builds/MacOSX/DSPTools.xcodeproj/project.xcworkspace/contents.xcworkspacedata
examples/JUCEExample/Builds/MacOSX/DSPTools.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
examples/JUCEExample/Builds/MacOSX/DSPTools.xcodeproj/project.xcworkspace/xcuserdata/davidantonia.xcuserdatad/UserInterfaceState.xcuserstate
examples/JUCEExample/Builds/MacOSX/DSPTools.xcodeproj/xcshareddata/xcschemes/DSPTools - All.xcscheme
examples/JUCEExample/Builds/MacOSX/DSPTools.xcodeproj/xcuserdata/davidantonia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
examples/JUCEExample/Builds/MacOSX/DSPTools.xcodeproj/xcuserdata/davidantonia.xcuserdatad/xcschemes/xcschememanagement.plist
examples/JUCEExample/Builds/MacOSX/Info-AU.plist
examples/JUCEExample/Builds/MacOSX/Info-Standalone_Plugin.plist
examples/JUCEExample/Builds/MacOSX/Info-VST3.plist
examples/JUCEExample/Builds/MacOSX/RecentFilesMenuTemplate.nib
examples/JUCEExample/JuceLibraryCode/include_juce_audio_basics.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_audio_basics.mm
examples/JUCEExample/JuceLibraryCode/include_juce_audio_devices.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_audio_devices.mm
examples/JUCEExample/JuceLibraryCode/include_juce_audio_formats.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_audio_formats.mm
examples/JUCEExample/JuceLibraryCode/include_juce_audio_plugin_client_AAX.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_audio_plugin_client_AAX.mm
examples/JUCEExample/JuceLibraryCode/include_juce_audio_plugin_client_ARA.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_audio_plugin_client_AU.r
examples/JUCEExample/JuceLibraryCode/include_juce_audio_plugin_client_AU_1.mm
examples/JUCEExample/JuceLibraryCode/include_juce_audio_plugin_client_AU_2.mm
examples/JUCEExample/JuceLibraryCode/include_juce_audio_plugin_client_AUv3.mm
examples/JUCEExample/JuceLibraryCode/include_juce_audio_plugin_client_LV2.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_audio_plugin_client_LV2.mm
examples/JUCEExample/JuceLibraryCode/include_juce_audio_plugin_client_Standalone.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_audio_plugin_client_Unity.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_audio_plugin_client_utils.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_audio_plugin_client_VST2.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_audio_plugin_client_VST3.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_audio_plugin_client_VST_utils.mm
examples/JUCEExample/JuceLibraryCode/include_juce_audio_processors.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_audio_processors.mm
examples/JUCEExample/JuceLibraryCode/include_juce_audio_processors_ara.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_audio_processors_lv2_libs.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_audio_utils.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_audio_utils.mm
examples/JUCEExample/JuceLibraryCode/include_juce_core.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_core.mm
examples/JUCEExample/JuceLibraryCode/include_juce_data_structures.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_data_structures.mm
examples/JUCEExample/JuceLibraryCode/include_juce_dsp.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_dsp.mm
examples/JUCEExample/JuceLibraryCode/include_juce_events.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_events.mm
examples/JUCEExample/JuceLibraryCode/include_juce_graphics.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_graphics.mm
examples/JUCEExample/JuceLibraryCode/include_juce_gui_basics.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_gui_basics.mm
examples/JUCEExample/JuceLibraryCode/include_juce_gui_extra.cpp
examples/JUCEExample/JuceLibraryCode/include_juce_gui_extra.mm
examples/JUCEExample/JuceLibraryCode/JuceHeader.h
examples/JUCEExample/JuceLibraryCode/JucePluginDefines.h
examples/JUCEExample/JuceLibraryCode/ReadMe.txt
